<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.literary.web.dao.IMyWorksDiaryDao">
	<!-- type指向javabean类，id可自定义 -->
	<resultMap id="diaryResMap" type="com.literary.entity.Diary">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
		<result column="wether" property="wether" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
		<result column="diary" property="diary" jdbcType="VARCHAR" />
	</resultMap>
    <!--获得所有日记 -->
    <select id="getAllMyWorksDiary" resultMap="diaryResMap">
   		select * from diary order by date desc limit #{maps.pageNum},#{maps.pageSize}
    </select>
    <!--获得所有日记个数 -->
    <select id="getCountMyWorksDiary" resultType="java.lang.Integer" parameterType="java.lang.Integer">
   		select COUNT(*) from diary
    </select>  
    <!-- 删除一条日记 -->
    <delete id="deleteMyWorkDiary" parameterType="int">
    	delete from diary where id=#{id}
    </delete>
    <!-- 查看一条日记 -->
    <select id="scanMyWorkDiary" parameterType="int" resultMap="diaryResMap">
    	select * from diary where id=#{id}
    </select>
</mapper>











