<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.literary.web.dao.IMyWorksProseDao">
	<!-- type指向javabean类，id可自定义 -->
	<resultMap id="proseResMap" type="com.literary.entity.Prose">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
		<result column="prose" property="prose" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
	</resultMap>
    <!--获得所有日记 -->
    <select id="getAllMyWorksProse" resultMap="proseResMap">
   		select * from prose order by date desc limit #{maps.pageNum},#{maps.pageSize}
    </select>
    <!--获得所有日记个数 -->
    <select id="getCountMyWorksProse" resultType="java.lang.Integer" parameterType="java.lang.Integer">
   		select COUNT(*) from prose
    </select>  
    <!-- 删除一条日记 -->
    <delete id="deleteMyWorkProse" parameterType="int">
    	delete from prose where id=#{id}
    </delete>
    <!-- 查看一条日记 -->
    <select id="scanMyWorkProse" parameterType="int" resultMap="proseResMap">
    	select * from prose where id=#{id}
    </select>
</mapper>











